#edit-student-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(27 33 45);
}

#edit-student-container img {
    width: 10%;
    margin-bottom: 5%;
}

#edit-student-container .custom-container select{
    width: 250px;
    height: 60px;
    background-color: rgb(26 25 43);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;

    margin-right: 10px;
}


#edit-student-container .custom-container button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
}

#edit-student-container .button-delete{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(214, 23, 112);
    border: none;
    border-radius: 10px;
    margin-bottom: 5%;
}

#edit-student-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}