#pagesignup-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27 33 45);
    color: white;
    font-family: 'Roboto Slab', serif;
}
.signup-container{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-container img{
    width: 10vw;
}
.signup-container .input{
    width: 250px;
    height: 10px;
    background-color: rgb(26 25 43);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    color: white;
}
.signup-container .select{
    width: 250px;
    height: 60px;
    background-color: rgb(26 25 43);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.signup-container .back-home{
    margin-top: 20%;
}
.signup-container button{
    width: 290px;
    height: 40px;
    margin-top: 20px;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
}

.logo-container{
    width: 50%;
    height: 100%;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

form {
    margin-bottom: 10%;
}