
#subjects-container{
    display: flex;
    width: 100vw;
    background: cornflowerblue;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

#subjects-container .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#subjects-container .side-menu{
    width: 20%;
    height: 100%;
    background-color: rgb(27 33 45);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.side-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}
.side-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
.side-container .button-custom{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
.side-container h4{
    color: white;
    margin-top: 5px;
    margin-bottom: 10%;
}
#subjects-container .side-menu img{
    border-radius: 50%;
    width: 60%;
    margin-bottom: 30px;
}